{% load static %}

<div class="footer">
	<div class="footer__hr"></div>
	<div class="footer__content">
		<div class="footer__content__left">
			<img class="footer__content__left__logo" src="{% static 'web/img/tracle_footer.png' %}">
			<div class="footer__content__left__copyright">
				© Copyright {% now 'Y' %} TeamTracle
			</div>
            <button class="btn btn-gray" id="btn-footer-options">Options</button>
		</div>
		<div class="footer__content__right">
			<a href="https://github.com/PF94/tracle">GitHub</a>
			<a href="{% url 'web_terms' %}">Terms Of Use</a>
			<a href="{% url 'web_guidelines' %}">Community Guidelines</a>
		</div>
	</div>
</div>