{% load static %}

<link href="{% static 'web/css/video-js.css' %}" rel="stylesheet" />

<video-js id="player" class='video-js vjs-big-play-centered' preload="auto" poster="{{ video.get_poster }}">
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video-js>

<script src="{% static 'web/js/vendor/video.min.js' %}"></script>
<script src="{% static 'web/js/vendor/videojs-landscape-fullscreen.min.js' %}"></script>
<script src='https://cdn.sc.gl/videojs-hotkeys/latest/videojs.hotkeys.min.js'></script>
<script src="{% static 'web/js/vendor/videojs-contrib-quality-levels.min.js' %}"></script>
<script src="{% static 'web/js/vendor/videojs-hls-quality-selector.min.js' %}"></script>
<script>

    function hideReport(event) {
        event.preventDefault();
        var el = document.getElementById('report-modal');
        el.style.display = "none";
    }

    function showReport(event) {
        event.preventDefault();
        var el = document.getElementById('report-modal');
        el.style.display = "table";

    }

    function sendReport(event) {
        event.preventDefault();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var data = new FormData(document.getElementById('video-report-form'));
        axios.post('/api/videos/tickets', data, {headers: {'X-CSRFToken': csrftoken}})
        .then(response => {
            var el = document.getElementById('report-modal');
            el.style.display = "none";
        })
        .catch(error => {
            var el = document.getElementById('reason-error');
            el.innerHTML = error.response.data.message;
        });
    }

    var player = videojs('player', {
        html5: {
            hls: {
                overrideNative: !videojs.browser.IS_ANY_SAFARI
            }  
        },
        controls: true,
        autoplay: false,
        preload: 'auto',
        fluid: true,
        aspectRatio: '16:9',
        responsive: false,
        controlBar: {
        children: [
            'playToggle',
            'volumePanel',
            'currentTimeDisplay',
            'timeDivider',
            'durationDisplay',
            'progressControl',
            'customControlSpacer',
            'fullscreenToggle',
        ]}
    });
 
    {% comment %} if (videojs.browser.IS_ANY_SAFARI) {
        player.src([
            {% for url in video.transcoded_video.get_all_playlists %}
                { src: '{{ url }}', type: 'application/x-mpegURL'},
            {% endfor %}
        ]);
    } else {
        player.src({
            src: '{{ video.get_playlist }}',
            type: 'application/x-mpegURL'
        });
    } {% endcomment %}

   player.src({
      src: '{{ video.get_playlist }}',
      type: 'application/x-mpegURL'
   });

    player.landscapeFullscreen();
    player.hotkeys({
        enableVolumeScroll: false,
    });
    player.hlsQualitySelector();

    player.on('contextmenu', function (e) {
    {% comment %} e.preventDefault(); {% endcomment %}
    });

    function handlePlay() {
        const view_count = $('#view_count');
        const watch_id = $('#watch_id').val();
        const csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: '/api/incrementviews',
            data: {'watch_id' : watch_id},
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFToken", csrftoken);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    player.one('play', handlePlay);
</script>