@import 'style';

.signup {

	&__container {

		display: flex;
		justify-content: center;
		margin: 5em 0 0 0;
		flex-direction: row;
	}

	&__form {
		display: flex;
		flex-direction: column;
		min-width: 335px;
		background-color: #fff;
		padding: 20px 25px 15px;
		border: 1px solid #e5e5e5;
		border-radius: 5px;

		/* FIXME: Turn this into "btn-large" -grkb 1/16/2023 */
		&__button {
			font-size: 1rem;
			height: 2.5em;
		}

		input[type=email],input[type=password],input[type=text] {
			width: 100%;
			padding: 7px 9px;
		}

		&__signin {
			display: inline-block;
			vertical-align: top;
			color: #666;
			margin: 6px 0 0 10px;
		}
	}
}

.errorlist {
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: red;
}

.errorlist li {

}