{% extends 'web/base.html' %}
{% load static %}
{% load compress %}
{% load humanize %}
{% load index %}

{% block title %}
	<!-- Primary Meta Tags -->
<title>Tracle</title>
<meta name="title" content="Tracle">
<meta name="description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on Tracle.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.tracle.tv/">
<meta property="og:title" content="Tracle">
<meta property="og:description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on Tracle.">
<meta property="og:image" content="{% static 'web/img/tracle.png' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.tracle.tv/">
<meta property="twitter:title" content="Tracle">
<meta property="twitter:description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on Tracle.">
<meta property="twitter:image" content="{% static 'web/img/tracle.png' %}">
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/home.scss' %}">
{% endblock css %}

{% block body %}
{% include 'web/includes/nav_new.html' %}
<div class="lead">
    <h1>Welcome to squareTracle!</h1>
    <p>This may or may not be used for Qobo.</p>
</div>
<div class="container">
	{% include 'web/includes/sidebar.html' %}
	<div class="primary">
		{% include 'web/includes/primary_feed.html' %}
	</div>
	<div class="secondary">
		{% include 'web/includes/secondary-feed.html' %}
	</div>
</div>
{% include 'web/includes/footer_new.html' %}

<!-- <nav class="bottom-nav">
	<a class="bottom-nav__item" href=""><i class="fas fa-home"></i></a>
	<a class="bottom-nav__item" href=""><i class="fas fa-burn"></i></a>
	<a class="bottom-nav__item" href=""><i class="fas fa-book"></i></a>
</nav> -->

{% endblock %}

{% block script %}
{% if not search_term %}
<script>
	$(function() { 
		var selected_catetory = getUrlParameter('c');
		if (selected_catetory) {
			$('#' + selected_catetory).addClass('selected');

		} else {
			$('#from_tracle').addClass('selected');
		}
	});
</script>
{% endif %}
{% endblock %}