{% extends 'web/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
	<title>Sign Up - Tracle</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/signup.scss' %}">
{% endblock %}

{% block body %}
{% include 'web/includes/nav_new.html' %}

<div class="container">
	<div class="signup__container">
		<div class="signup__form">
			<h2>Sign Up</h2>
			<form method='post'>
				{% csrf_token %}
				{% for field in form %}
				  <p>
				    {{ field }}
				    {% for error in field.errors %}
				      <p style="color: red">{{ error }}</p>
				    {% endfor %}
				  </p>
				{% endfor %}
				<button class="btn btn-blue signup__form__button" type='submit'>Sign up</button>
				<span class="signup__form__signin">Already have an account? <a href="{% url 'web_signin' %}">Sign in</a></span>
			</form>
		</div>
	</div>
</div>
{% include 'web/includes/footer_new.html' %}
{% endblock %}